<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>ToDoList</title>
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/list.css"/>

</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>To Do List</h1>
    </div>
    <br/>

    <div id="mainHide">
        <table class="table table-striped" border="0" style="outline: 0">
            <thead>
            <!--<form class="form-inline" method="post" action="/save">-->
             <a class="head2">
                 <input id = "description" type="text" class="form-control pull-left center-block" placeholder="add.." style="width: 300px;">
                 <button type="button" id="register" class="btn btn-default" style="margin-left: -30px">등록 </button>
                 <button type="button" id="deleteAll" class="btn btn-default pull-right" > 전체삭제 </button>
                 <a href="/logout"><button type="button" class="logout btn btn-default pull-right" > 로그아웃 </button></a>
             </a>
    </div>
                 <!--</form>-->
            <tr>
                <th class="col-md-1">#</th>
                <th class="col-md-2">완료 여부</th>
                <th class="col-md-4">내용</th>
                <th class="col-md-2">생성 날짜</th>
                <th class="col-md-2">완료 날짜</th>
                <th class="col-md-2">완료 확인</th>
                <th class="col-md-2">수정</th>
                <th class="col-md-2">삭제</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="toDoList : ${tdlList}">
                <td th:text="${toDoList.idx}"></td>
                <td th:text="${toDoList.status}" th:value="${toDoList.idx}"></td>
                <td th:text="${toDoList.description}" contenteditable="true" class="updateContent" th:value="${toDoList.idx}"></td>
                <td th:text="${toDoList.createdDate} ? ${#temporals.format(toDoList.createdDate,'yyyy-MM-dd HH:mm')} : ${toDoList.createdDate}"></td>
                <td th:text="${toDoList.completedDate} ? ${#temporals.format(toDoList.completedDate,'yyyy-MM-dd HH:mm')} : ${toDoList.completedDate}"></td>
                <td th:if="${toDoList.status}"><button type="button" class="complete btn btn-default" th:value="${toDoList.idx}" ><img src="/images/complete2.png" width="25px" height="25"></button></td>
                <td th:if="!${toDoList.status}"><button type="button" class="complete btn btn-default"  th:value="${toDoList.idx}" ><img src="/images/complete.png" width="25px" height="25"></button></td>
                <td><button type="button" class="update btn btn-default"  th:value="${toDoList.idx}"><img src="/images/update2.png" width="25px" height="25"></button></td>
                <td><button type="button" class="delete btn btn-default"  th:value="${toDoList.idx}"><img src="/images/delete2.png" width="25px" height="25"></button></td>
            </tr>
            </tbody>
        </table>
    </div>
    <br/>
</div>

<script th:src="@{/js/jquery.min.js}"></script>
<script>
    $('#register').click(function () {
        if($('#description').val().trim().length == 0){
            alert("내용을 입력하세요.");
            $('#description').focus();
            return false;
        }

        var jsonData = JSON.stringify({
            description : $('#description').val()
        });

        $.ajax({
            url: "http://localhost:8080/toDoList",
            type: "POST",
            data: jsonData,
            contentType: "application/json",
            dataType: "json",
            success: function () {
                alert('등록 성공!');
                location.href = '/toDoList/list';
            },
            error: function () {
                alert('등록 실패!');
            }
        });
    });
</script>

<script th:src="@{/js/jquery.min.js}"></script>
<script>
    $('#deleteAll').click(function () {
        $.ajax({
            url: "http://localhost:8080/toDoList/deleteAll",
            type: "DELETE",
            contentType: "application/json",
            success: function () {
                alert('전체삭제 성공!');
                location.href = '/toDoList/list';
            },
            error: function () {
                alert('전체삭제 실패!');
            }
        });
    });
</script>

<script th:src="@{/js/jquery.min.js}"></script>
<script>
    $('.delete').click(function () {
        var delete_id = $(this).val();

        $.ajax({
            url: "http://localhost:8080/toDoList/" + delete_id,
            type: "DELETE",
            contentType: "application/json",
            success: function () {
                // alert('삭제 성공!');
                location.href = '/toDoList/list';
            },
            error: function () {
                alert('삭제 실패!');
            }
        });
    });
</script>

<script>
    $(document).on("click",".update",function(){

        var modified = $(this).parent().parent().find('.updateContent').text();

        var update_id = $(this).val();

        $.ajax({
            url: "http://localhost:8080/toDoList/" + update_id,
            type: "PUT",
            data: modified,
            contentType: "application/json",
            dataType: "json",
            success: function () {
                alert('수정 성공!');
                location.href = '/toDoList/list';
            },
            error: function () {
                // alert('수정 실패!');
            }
        });
    });

</script>

<script>
    $('.complete').click(function () {
        var complete_id = $(this).val();

        $.ajax({
            url: "http://localhost:8080/toDoList/status/" + complete_id,
            type: "PUT",
            contentType: "application/json",
            dataType: "json",
            success: function () {
                location.href = '/toDoList/list';
            },
            error: function () {
                alert('완료실패!');
            }
        });
    });

</script>

<script>
    function update() {
        console.log("들어옴");
        console.log($(this).val());
        var dynamicInput = '<input type="text" class="updateContent">';

        var updateComplete = '<td th:text="${toDoList.description}"><button type="button" class="updateComplete btn btn-default" th:value="${toDoList.idx}"> </button></td>';
    }

</script>


</body>




</html>
