<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>ToDoList</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>


<div class="container">
    <div class="page-header">
        <h1>TODOLIST</h1>
    </div>
    <br/>
    <!--<input id="todo_idx" type="hidden" th:value="${tdlList?.idx}"/>-->
    <!--<input id="to_create_date" type="hidden" th:value="${tdlList?.createdDate}"/>-->
    <table class="table">
        <tr>
            <th style="padding:13px 0 0 15px;">생성날짜</th>
            <td><input type="text" class="col-md-1 form-control input-sm" readonly="readonly" th:value="${tdlList?.createdDate} ? ${#temporals.format(tdlList?.createdDate,'yyyy-MM-dd HH:mm')} : ${tdlList?.createdDate}"/></td>
        </tr>
        <tr>
            <th style="padding:13px 0 0 15px;">내용</th>
            <td><input id="board_title" type="text" class="col-md-1 form-control input-sm" th:value="${tdlList?.description}"/></td>
        </tr>
        <tr>
            <th style="padding:13px 0 0 15px;">완료여부</th>
            <td><input id="board_sub_title" type="text" class="col-md-1 form-control input-sm" th:value="${tdlList?.status}"/></td>
        </tr>

        <tr>
            <td></td>
            <td></td>
        </tr>
    </table>
    <div class="pull-left">
        <a href="/toDoList/list" class="btn btn-default">목록으로</a>
    </div>
    <!--<div class="pull-right">-->
        <!--<button th:if="!${board?.idx}" type="button" class="btn btn-primary" id="insert">저장</button>-->
        <!--<button th:if="${board?.idx}" type="button" class="btn btn-info" id="update">수정</button>-->
        <!--<button th:if="${board?.idx}" type="button" class="btn btn-danger" id="delete">삭제</button>-->
    <!--</div>-->
</div>

<!--<script th:src="@{/js/jquery.min.js}"></script>-->
<!--<script th:if="!${board?.idx}">-->
    <!--$('#insert').click(function () {-->
        <!--var jsonData = JSON.stringify({-->
            <!--title: $('#board_title').val(),-->
            <!--subTitle: $('#board_sub_title').val(),-->
            <!--content: $('#board_content').val(),-->
            <!--boardType: $('#board_type option:selected').val()-->
        <!--});-->
        <!--$.ajax({-->
            <!--url: "http://localhost:8081/api/boards",-->
            <!--type: "POST",-->
            <!--data: jsonData,-->
            <!--contentType: "application/json",-->
            <!--dataType: "json",-->
            <!--success: function () {-->
                <!--alert('저장 성공!');-->
                <!--location.href = '/board/list';-->
            <!--},-->
            <!--error: function () {-->
                <!--alert('저장 실패!');-->
            <!--}-->
        <!--});-->
    <!--});-->
<!--</script>-->
<!--<script th:if="${board?.idx}">-->
    <!--$('#update').click(function () {-->
        <!--var jsonData = JSON.stringify({-->
            <!--title: $('#board_title').val(),-->
            <!--subTitle: $('#board_sub_title').val(),-->
            <!--content: $('#board_content').val(),-->
            <!--boardType: $('#board_type option:selected').val(),-->
            <!--createdDate: $('#board_create_date').val()-->
        <!--});-->
        <!--$.ajax({-->
            <!--url: "http://localhost:8081/api/boards/" + $('#board_idx').val(),-->
            <!--type: "PUT",-->
            <!--data: jsonData,-->
            <!--contentType: "application/json",-->
            <!--dataType: "json",-->
            <!--success: function () {-->
                <!--alert('수정 성공!');-->
                <!--location.href = '/board/list';-->
            <!--},-->
            <!--error: function () {-->
                <!--alert('수정 실패!');-->
            <!--}-->
        <!--});-->
    <!--});-->
    <!--$('#delete').click(function () {-->
        <!--$.ajax({-->
            <!--url: "http://localhost:8081/api/boards/" + $('#board_idx').val(),-->
            <!--type: "DELETE",-->
            <!--success: function () {-->
                <!--alert('삭제 성공!');-->
                <!--location.href = '/board/list';-->
            <!--},-->
            <!--error: function () {-->
                <!--alert('삭제 실패!');-->
            <!--}-->
        <!--});-->
    <!--});-->
<!--</script>-->
</body>
</html>