<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>ToDoList</title>
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/list.css"/>

</head>
<body>
<div class="container">
    <div class="page-header">
        <a href="http://localhost:8080/toDoList/list"> <h1>To Do List</h1></a>
    </div>
    <br/>

    <div id="mainHide">
            <head>
                <a class="head2">
                    <input id = "description" type="text" class="form-control pull-left center-block" placeholder="add.." style="width: 300px;">
                    <button type="button" id="register" class="btn btn-default" style="margin-left: -30px">등록 </button>
                    <button type="button" id="deleteAll" class="btn btn-default pull-right" > 전체삭제 </button>
                    <a href="/logout"><button type="button" class="logout btn btn-default pull-right" > 로그아웃 </button></a>
                </a>

            </head>

            <br>
            <br>

            <body>
                <div th:each="toDoList : ${tdlList}" class="textBox"  id = "textBox2">
                    <dl>
                        <dt th:if="!${toDoList.status}" th:text="완료" th:value="${toDoList.idx}"></dt>
                        <dt th:if="${toDoList.status}" th:text="미완료" th:value="${toDoList.idx}"></dt>
                        <br>
                        <dt th:text="${toDoList.description} " th:value="${toDoList.idx}" contenteditable="true" class="updateContent"></dt>
                        <br>
                        <dt th:text="${toDoList.createdDate} ? ${#temporals.format(toDoList.createdDate,'yyyy-MM-dd HH:mm')} : ${toDoList.createdDate}"> </dt>
                        <span> ~ </span>
                        <dt th:text="${toDoList.completedDate} ? ${#temporals.format(toDoList.completedDate,'yyyy-MM-dd HH:mm')} : ${toDoList.completedDate}"></dt>
                        <dd th:if="!${toDoList.status}"><button type="button" class="complete btn btn-default" th:value="${toDoList.idx}" ><img src="/images/complete.png" width="25px" height="25"></button></dd>
                        <dd th:if="${toDoList.status}"><button type="button" class="complete btn btn-default" th:value="${toDoList.idx}" ><img src="/images/complete2.png" width="25px" height="25"></button></dd>
                        <dd><button type="button" class="update btn btn-default"  th:value="${toDoList.idx}"><img src="/images/update2.png" width="25px" height="25"></button></dd>
                        <dd><button type="button" class="delete btn btn-default"  th:value="${toDoList.idx}"><img src="/images/delete2.png" width="25px" height="25"></button></dd>
                        <dd><button type="button" class="replyButton btn btn-default"  th:value="${toDoList.idx}"><img src="/images/plus.png" width="25px" height="25"></button></dd>
                    </dl>

                    <br>
                    <span class="reply">
                        <span><input class= "replyContent" type="text" placeholder="add.." style="width: 300px;" th:value="${toDoList.idx}" ></span>
                        <span><button type="button" class="replyRegister" style="margin-left: -30px" th:value="${toDoList.idx}">등록 </button></span>
                    </span>

                    <dl th:each="toDoReply : ${toDoList.replys}" class="reply" id="replyConte">
                        <dt th:text="${toDoReply.content}" contenteditable="true" class="replyContent"></dt>
                        <dt th:text="${toDoReply.createdDate} ? ${#temporals.format(toDoReply.createdDate,'yyyy-MM-dd HH:mm')} : ${toDoReply.createdDate}"></dt>
                        <dt th:text="${toDoReply.modifiedDate} ? ${#temporals.format(toDoReply.modifiedDate,'yyyy-MM-dd HH:mm')} : ${toDoReply.modifiedDate}"></dt>
                        <dd><button type="button" class="replyUpdate btn btn-default"  th:value="${toDoReply.idx}"><img src="/images/update2.png" width="25px" height="25"></button></dd>
                        <dd><button type="button" class="replyDelete btn btn-default"  th:value="${toDoReply.idx}"><img src="/images/delete2.png" width="25px" height="25"></button></dd>
                    </dl>

                </div>

            </body>

    </div>
    <br/>
</div>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/list.js}"></script>

</body>

</html>
